<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title >Global Soft Support</title>

    <link rel="icon" type="image/png" href="https://img.icons8.com/cotton/2x/globe.png"/>
</head>
<body style="height: 1000%;
  background: radial-gradient(ellipse at bottom, #bacec1 0%, #bacec1 100%);
  " >

<div class="sidenav">
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
</div>

<div class="main">


    <div class="container"  >
        <br>
        <div class = "mb-4">  <h1  style="color: #1d3124; font: normal 48px '.AppleSystemUIFont';" > <img style="width: 50px; height: 50px;" src="https://img.icons8.com/cotton/2x/globe.png"> Global Soft Support</h1></div>
        <br><hr>
        <a href="/articles/new" style="border-radius: 25px;" class="btn btn-success">New Post</a>
        <br><br>

        <% articles.forEach(article => { %>

        <div class="card mt-2" style="background-color: #f6f4e8">
            <div class="card-body">
                <h4 style="color: #1d3124"class=card-title"><%=article.title%></h4>
                <div  class="card-subtitle text-muted mb-2">
                    <%=article.createdAt.toLocaleDateString()%>

                </div>

                <div style="color: #e59560" class="card-text md-2"><%= article.description%></div>
                <br>
                <a href="articles/<%=article.slug%>" style="border-radius: 25px" class="btn btn-primary">Read More</a>
                <a href="articles/edit/<%=article.id%>" style="border-radius: 25px" class="btn btn-info">Reply</a>

                <!--            <form action="/articles/<%=article.id%>?_method=DELETE" method="POST" class="d-inline">-->
                <!--                <button type="submit" class="btn btn-danger">Delete</button>-->
                <!--            </form>-->
            </div>




        </div>


        <% })%>




    </div>
</div>

<div class="space stars1"></div>
<div class="space stars2"></div>
<div class="space stars3"></div>
<!--<img src="../articles/ibm.jpg"/>-->
<a class="pulse-button"style="position:fixed; border-radius: 25px;
    right: 50px;
    bottom: 50px;
" href="https://web-chat.global.assistant.watson.cloud.ibm.com/preview.html?region=us-south&integrationID=000295e4-2cc2-470a-8fae-7947fefd60d4&serviceInstanceID=bb954dfb-1c95-417f-b9f3-d7b096b563e9">
    Talk<br>
    with Me!
</a>

<a class="btn btn-info" style=" border-radius: 25px; position:fixed;
    right: 50px;
    background-color: #e59560;
    border-color: #e59560;
    top: 40px;" href="/articles/instructions">
    How do<br> I Use <br>This Site?
</a>
<br>
<footer class="footer-distributed">

    <div class="footer-left">

        <h3><span>Global Soft Support</span></h3>

        <p class="footer-links">
            <a href="#">Home</a>
            |
            <a href="https://github.com/nunu2021">GitHub</a>
            |
            <a href="https://www.linkedin.com/in/labdhi-jain/">LinkedIn</a>
            |
            <a href="mailto:labdhijain753@gmail.com">Contact</a>
        </p>

        <p class="footer-company-name">© 2020 Labdhi Jain</p>
    </div>

    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Developed With Love By: </span></p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <a href="https://www.linkedin.com/in/labdhi-jain/">Labdhi Jain</a>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:labdhijain753@gmail.com">labdhijain753@gmail.com</a></p>
        </div>
    </div>
    <div class="footer-right">
        <p class="footer-company-about">
            <span>About The Founder</span>

            Labdhi Jain is a computer science student, with a strong passion to make this world a better place.
        <div class="footer-icons">

        </div>
    </div>
</footer>
</body>
</html>
