<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title >Global Soft Support</title>
</head>
<body style="height: 1000%;
  background: radial-gradient(ellipse at bottom, #bacec1 0%, #bacec1 100%);
  " >




<div class="container"  >
    <br>
    <h1 class = "mb-4" style="color: #1d3124" >Global Soft Support</h1>
    <a href="/articles/new" class="btn btn-success">New Post</a>

    <% articles.forEach(article => { %>

    <div class="card mt-2" style="background-color: #f6f4e8">
        <div class="card-body">
            <h4 style="color: #1d3124"class=card-title"><%=article.title%></h4>
            <div  class="card-subtitle text-muted mb-2">
                <%=article.createdAt.toLocaleDateString()%>

            </div>

            <div style="color: #e59560" class="card-text md-2"><%= article.description%></div>
            <br>
            <a href="articles/<%=article.slug%>" class="btn btn-primary">Read More</a>
            <a href="articles/edit/<%=article.id%>" class="btn btn-info">Reply</a>

<!--            <form action="/articles/<%=article.id%>?_method=DELETE" method="POST" class="d-inline">-->
<!--                <button type="submit" class="btn btn-danger">Delete</button>-->
<!--            </form>-->
        </div>




    </div>


    <% })%>




</div>
<div class="space stars1"></div>
<div class="space stars2"></div>
<div class="space stars3"></div>
<!--<img src="../articles/ibm.jpg"/>-->
<button class="btn btn-danger"style="position:fixed;
    right: 50px;
    bottom: 50px;"><a  href="https://web-chat.global.assistant.watson.cloud.ibm.com/preview.html?region=us-south&integrationID=000295e4-2cc2-470a-8fae-7947fefd60d4&serviceInstanceID=bb954dfb-1c95-417f-b9f3-d7b096b563e9">
        Talk
        with Me!
    </a></button>

<a class="btn btn-info" style="position:fixed;
    right: 30px;
    background-color: #e59560;
    top: 30px;" href="/articles/instructions">
        How do<br> I use <br>this site?
    </a>

</body>
</html>
